<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/_java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_java.__Collection_FramWork._5Tree.Gfg_3_Perfect_BT_Specific_Level_Order_Top_Bottom"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="_java"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="_java"/>
</launchConfiguration>
